@using AspNetCoreVueMpa.Web.Utils

@{
    ViewData["Title"] = "Home Page";
}


<h1>This is the only html we have, the rest is in the individual componetns</h1> 

<div id="app">
  
</div>

@section Scripts{
    <script type="text/javascript" src="~/js/home-index.bundle.js" asp-append-version="true"></script>
}
