@using AspNetCoreVueMpa.Web.Utils

@{
    ViewData["Title"] = "Home Page";
}

<div id="app">
    <search-bar></search-bar>
</div>

@section Scripts{
    <script type="text/javascript" src="~/js/home-index.bundle.js" asp-append-version="true"></script>
}
